<a href="https://colab.research.google.com/github/YahiaML/Mogassam-3D-exploratory-analysis/blob/main/Mogassam_3D_exploratory_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd

In [40]:
df =pd.read_excel("/content/Coordinates.xlsx")

In [41]:
df.head()

,Type,File_Number,X-axis,Y-axis,Z-axis,In_Normal_Case,Error_range,Notes
0,Bridge 2,2,12,-1,0,True,Normal,NAN
1,Bridge 2,3,-38,-13,4,False,Mediam,NAN
2,Bridge 2,4,-18,6,-1,True,Normal,NAN
3,Bridge 2,5,-69,-12,8,False,High,NAN
4,Bridge 2,6,20,-33,-6,False,Mediam,NAN

In [42]:
columns = df.columns
columns

Index(['Type', 'File_Number', 'X-axis', 'Y-axis', 'Z-axis', 'In_Normal_Case',
       'Error_range', 'Notes'],
      dtype='object')

In [47]:
all_types = df["Type"].unique()
all_types[0]

'Bridge 2'