<a href="https://colab.research.google.com/github/YahiaML/Mogassam-3D-exploratory-analysis/blob/main/Mogassam_3D_exploratory_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd

In [40]:
df =pd.read_excel("/content/Coordinates.xlsx")

In [41]:
df.head()

,Type,File_Number,X-axis,Y-axis,Z-axis,In_Normal_Case,Error_range,Notes
0,Bridge 2,2,12,-1,0,True,Normal,NAN
1,Bridge 2,3,-38,-13,4,False,Mediam,NAN
2,Bridge 2,4,-18,6,-1,True,Normal,NAN
3,Bridge 2,5,-69,-12,8,False,High,NAN
4,Bridge 2,6,20,-33,-6,False,Mediam,NAN

In [42]:
columns = df.columns
columns

Index(['Type', 'File_Number', 'X-axis', 'Y-axis', 'Z-axis', 'In_Normal_Case',
       'Error_range', 'Notes'],
      dtype='object')

In [76]:
all_types = list(df["Type"].unique())
all_types

['Bridge 2',
 'Bridge 3',
 'Bridge 4',
 'Bridge 5',
 'Bridge 6',
 'Bridge 7',
 'Bridge 8',
 'Bridge 9',
 'Bridge 10',
 'Bridge 11',
 'Bridge 12',
 'Bridge 13',
 'Bridge 14',
 'Clear Aligner',
 'Crown Molar',
 'Crown Tooth',
 'Denture Base',
 'Denture Base No Teeth',
 'Dey Molar',
 'Dey Tooth',
 'Mockup',
 'Mockup Front Lower teeth',
 'Mockup Front Upper teeth',
 'Mockup No teeth',
 'Mockup Upper teeth',
 'Model Base',
 'Model side',
 'Quadrant',
 'Solid Molar',
 'Solid Tooth',
 'Surgical Guide Corner',
 'Surgical Guide Mockup',
 'Surgical Guide Mockup Front',
 'Surgical Guide Side',
 'Surgical Guide Upper Jaw',
 'Temp Crown Molar',
 'Temp Crown Tooth']

In [58]:
w = list(all_types)
w.append("all")
w

['Bridge 2',
 'Bridge 3',
 'Bridge 4',
 'Bridge 5',
 'Bridge 6',
 'Bridge 7',
 'Bridge 8',
 'Bridge 9',
 'Bridge 10',
 'Bridge 11',
 'Bridge 12',
 'Bridge 13',
 'Bridge 14',
 'Clear Aligner',
 'Crown Molar',
 'Crown Tooth',
 'Denture Base',
 'Denture Base No Teeth',
 'Dey Molar',
 'Dey Tooth',
 'Mockup',
 'Mockup Front Lower teeth',
 'Mockup Front Upper teeth',
 'Mockup No teeth',
 'Mockup Upper teeth',
 'Model Base',
 'Model side',
 'Quadrant',
 'Solid Molar',
 'Solid Tooth',
 'Surgical Guide Corner',
 'Surgical Guide Mockup',
 'Surgical Guide Mockup Front',
 'Surgical Guide Side',
 'Surgical Guide Upper Jaw',
 'Temp Crown Molar',
 'Temp Crown Tooth',
 'all']

In [59]:
x = "all in my place"
x.title()

'All In My Place'

# The Prog

In [75]:
required = []
all_types = list(df["Type"].unique())

print(" *"*75,"\nInsert the types you want to navigate through, press Enter after every input, and after you finish inserting press Enter without inserting any input.\n",end=" *"*75)
print("\n\nwhat types do you want to navigate through? (you can insert 'All' if you wanted all types)")
while True:
    type_ = input().title()
    if not type_:
        break
    if type_ in all_types or type_ == "All":
      required.append(type_)
print("While loop has exited")

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Insert the types you want to navigate through, press Enter after every input, and after you finish inserting press Enter without inserting any input.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

what types do you want to navigate through?
Solid Tooth
Surgical Guide Side

While loop has exited

In [83]:
type_ = "x".title()
if type_ not in all_types and type_ != "All" :  
  print("ok")

ok

In [ ]:
if type_ not in all_types and type_ != "All" :

  print("\n","*"*40,"\nPlease check your spelling and if the type you have chosen is valid. \n")
  Error = True
  while Error :
      re_choose = input("Want to re-choose? Enter yes or no.\n").lower()  
      if re_choose == 'no':# Exit the program ------------
          city = "exit"
          month = 0
          day = 0
          time_filter = 0
          return city, month, day,time_filter             
          whole_loop = False   
          time_filter_loop = False
          month_loop = False 
          main_loop = False
          Error = False 
        
      elif re_choose not in ["yes","no"] : # only for stupids -----------
          print("\n","*"*40,"\n please insert a valid choice")
          Error = True   
      elif re_choose == "yes" : # re_choose -----------
          Error = False